{% extends 'shops.html.twig' %}


    {% block breadCrumb %}
        <header class="hero-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="header-title">List Shops</h2>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}
{% block content %}

    <section id="products-list">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="product-filters col-sm-12">
                        <a class="filter btn" data-filter="all">all</a>
                        {% if shops is not empty %}
                            {% for category in categories %}
                                {% if category.status == 1 %}
                                    <a class="filter btn" data-filter=".{{category.name}}">{{category.name}}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div id="product-item">
                        {% for shop in shops if shop.status %}
                            <!-- Product 1 -->
                           
                            <div class="col-md-4 col-sm-6 col-xs-12 scroll mix {{shop.category.name}}" data-my-order="000{{shop.id}}"  data-infinite-scroll='{ "path": ".pagination__next", "append": ".post", "history": false }'>
                                <figure class="wow fadeIn">
                                    <img class="img-responsive" style="max-height: 280px;width: 100%;" src="{{asset('uploads/shops/')}}{{shop.imageShops}}" alt="themesnerd">
                                    <figcaption>
                                        {% if shop.distance is not null %}
                                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                <a href="{{path('location_edit')}}">
                                                    <p class="product-title">{{ shop.name }}</p>
                                                    <p class="small text-muted"> Please change ur Current Location <i class="fa fa-pencil" aria-hidden="true"></i></p>
                                                </a>
                                                {% else %}
                                                <a href="{{path('fos_user_security_login')}}">
                                                    <p class="product-title">{{ shop.name }}</p>
                                                    <p class="small text-muted"> Please sign in <i class="fa fa-sign-in" aria-hidden="true"></i></p>
                                                </a>
                                            {% endif %}
                                        {% else %}
                                        <a href="{{ path('shops_show', { 'id': shop.id }) }}">
                                            <p class="product-title">{{ shop.name }}</p>
                                            <div class="product-price" >{{shop.distance}} <small>Km</small> </div>
                                         </a>
                                            <br>
                                            <div class="btn-group">
                                                <button class=" btn-sm btn-primary dislike" id="{{shop.id}}">Dislike</button>
                                                <button class=" btn-sm btn-default like" id="{{shop.id}}" >Like</button>
                                            </div>
                                        
                                       {% endif %}
                                    </figcaption>
                                </figure>
                            </div>
                            {% else %}
                             
                            <div class="col-md-12 col-sm-12 col-xs-12 mix all" data-my-order="0"  data-infinite-scroll='{ "path": ".pagination__next", "append": ".post", "history": false }'>
                                    <div class="well">no shop found</div>
                            </div>
                            
                            <!-- /Product 1 -->       
                        {% endfor %}

                    </div>
                </div>
                <div class="col-md-2">
                    <h4 class="text-center text-info">Ctegories</h4><hr>
                    {% for category in categories %}
                        {% if category.status == 0 %}
                            <a style="cursor: pointer;" class="filter exclusive" data-filter=".{{category.name}}"><i class="fa fa-tag" aria-hidden="true"></i> {{category.name}}</a> ,
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- Pagination -->
            
            <!-- /Pagination -->
        </div>
        <!-- <p class="totop"> 
            <a href="#top">Back to top</a> 
        </p>
 -->    </section>


{% endblock %}
