{% trans_default_domain 'FOSUserBundle' %}

<h4 class="text-center">{{ 'change_password.submit'|trans }}</h4> <hr>
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-sm btn-primary" value="{{ 'change_password.submit'|trans }}" />
        <a class="btn btn-sm btn-default pull-right" href="{{ path('fos_user_profile_show') }}" title=" profile">Cancel</a>
    </div>
{{ form_end(form) }}
