{% extends "@FOSUser/layout.html.twig" %}


{% block headerCrumb %}
    <a class="header-title" href="{{ path('fos_user_resetting_request') }}" title="reset">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</a>
    <div class="pull-right">
        <span><a href="{{ path('fos_user_registration_register') }}" title="register" >{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</a></span> Or <span><a href="{{ path('fos_user_security_login') }}" title="login">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></span>
    </div>
{% endblock %}

{% block fos_user_content %}
	<div class="col-md-4 col-md-offset-4">
		{% include "@FOSUser/Resetting/request_content.html.twig" %}
	</div>
{% endblock fos_user_content %}
